p {
    font-size: 30px;
}

#p2 {
    font-family: 'Courier';
}

.osmpara {
    color: blue;
}

#p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#div1 {
    height: 100px;
    width: 100px;
    background-color: chocolate;
    padding: 20px;
    text-align: center;
    color: black;
}

.sec1 div {
    background-color: blue;
}

.h4 {
    color: aqua;
    font-size: 40px;
    font-family: 'Courier';
}